@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
:root {
    --color-blanco: #e8e4dc;
    --color-fondo: #d1cdc7;
    --color-texto: #99938a;
    --color-intermedio: #69655e;
    --color-intermedio-oprimido: #4f4c47;
    --color-frente: #262421;
    --color-operacion: #b8852e;
    --color-operacion-oprimido: #9e7328;
    --color-advertencia: #ca4830;
    --color-advertencia-oprimido: #963524;
}
* { 
    margin: 0;
    padding: 0;
}
html { 
    font-size: 100%;
}
body {
    background-color: var(--color-fondo);
    font-family: 'Fira Code', monospace;
}

.calculadora {
    margin: 1rem auto 0;
    width: 17rem;
    padding: 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.respuestas {
    display: flex;
    flex-direction: column-reverse;
    height: 14rem;
}
.respuesta {
    position: relative;
    width: 28ch;
    padding: 0.1rem 1ch;
    display: flex;
    color: var(--color-texto);
    cursor: pointer;
}
.respuesta:hover {
    /* color: var(--color-fondo); */
    background-color: var(--color-blanco);
    border-radius: 4px;
}
.respuesta:hover > .respuesta__resultado {
    /* color: var(--color-blanco); */
}
.respuesta:first-child {
    margin: 0 0 1rem;
    border-bottom: none;
}
.respuesta__teclado,
.respuesta__operacion {
    margin: 0 1ch 0 0;
}
.respuesta__resultado {
    margin: 0 0 0 auto;
    color: var(--color-intermedio);
}
.respuesta:hover::after {
    position: absolute;
    content: '↓';
    padding: 0 1ch;
    right: 0;
    text-decoration: underline;
    color: var(--color-frente);
    transform: translateX(100%);
    cursor: pointer;
}
.pantalla {
    margin: 0 0 1.5rem;
    padding: 0.5rem 2ch 0.2rem;
    width: 28ch;
    border-radius: 0.5rem;
    background-color: var(--color-blanco);
    color: var(--color-intermedio);
}
.operacion__operador {
    color: var(--color-frente);
}
.pantalla__resultado {
    color: var(--color-frente);
    font-size: 2rem;
    text-align: right;
}

.teclado,
.teclado > * {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.teclado__memoria {
    flex-direction: row;
}
.teclado__numerico {
    max-width: 10rem;
    flex-wrap: wrap-reverse;
}
.teclado__operaciones {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-height: 14rem;
}

.boton {
    --_color-boton: var(--color-boton, var(--color-intermedio));
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1.2rem;
    outline-offset: -1px;
    outline: solid 2px var(--_color-boton);
    background-color: var(--_color-boton);
    color: var(--color-blanco);
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 
        outline-offset 0.1s ease-in-out,
        transform 0.1s ease-in-out,
        border-radius 0.15s ease-in-out;
}
.boton:hover,
.boton:focus {
    outline-offset: 3px;
}
.boton:active {
    transform: scale(0.8);
    outline-offset: 7px;
    border-radius: 0.5rem;
    background-color: var(--color-boton, var(--color-intermedio-oprimido));
}
.boton__superIndice {
    font-size: 0.7rem;
    vertical-align: super;
    position: relative;
    top: -0.2rem;
}
.boton--borrar {
    --color-boton: var(--color-advertencia);
}
.boton--borrar:active {
    --color-boton: var(--color-advertencia-oprimido);
}
.boton--memoria {
    --color-boton: var(--color-frente);
}
.boton--operacion {
    --color-boton: var(--color-operacion);
}
.boton--operacion:active {
    --color-boton: var(--color-operacion-oprimido);
}
.boton--doble {
    height: 6.5rem;
}
