@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
:root {
    --color-blanco: #e8e4dc;
    --color-fondo: #d1cdc7;
    --color-intermedio: #69655e;
    --color-intermedio-oprimido: #4f4c47;
    --color-frente: #262421;
    --color-operacion: #b8852e;
    --color-operacion-oprimido: #9e7328;
    --color-advertencia: #ca4830;
    --color-advertencia-oprimido: #963524;
}
* { 
    margin: 0;
    padding: 0;
}
html { 
    font-size: 100%;
}
body {
    background-color: var(--color-fondo);
    font-family: 'Fira Code', monospace;
}

.contenedor {
    margin: 0 auto;
    width: 20.5rem;
    padding: 1rem 0 2rem;
}

.respuesta {
    border-bottom: dotted 1px var(--color-intermedio);
    padding: 0.4rem 1rem;
    font-size: 1rem;
    color: var(--color-intermedio);
    display: flex;
    gap: 1ch;
}
.respuesta:last-child {
    border-bottom: none;
    margin: 0 0 0.5rem;
}
.respuesta__teclado {
    color: var(--color-blanco);
}
.respuesta__resultado {
    color: var(--color-intermedio-oprimido);
    margin: 0 0 0 auto;
}

.pantalla {
    background-color: var(--color-blanco);
    padding: 0.5rem 1rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--color-intermedio);
}
.pantalla:last-child {
    font-size: 2rem;
    padding: 0 1rem 0.2rem;
    text-align: right;
    color: var(--color-frente);
    margin: 0 0 1.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    font-weight: 600;
}
.teclado,
.teclado > * {
    display: flex;
    gap: 0.5rem;
}
.teclado__memoria {
    flex-direction: column;
}
.teclado__numerico {
    max-width: 10rem;
    flex-wrap: wrap-reverse;
}
.teclado__operaciones {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 14rem;
}

.boton {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
    outline: solid 2px var(--color-intermedio);
    outline-offset: -1px;
    border: none;
    background-color: var(--color-intermedio);
    color: var(--color-blanco);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: 
        outline-offset 0.1s ease-in-out,
        transform 0.1s ease-in-out,
        border-radius 0.2s ease-in-out;
}
.boton:hover {
    outline-offset: 3px;
}
.boton:active {
    transform: scale(0.8);
    outline-offset: 7px;
    border-radius: 0.5rem;
    background-color: var(--color-intermedio-oprimido);

}
.boton__memoria {
    position: relative;
}
.boton__valor {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: calc(100% + 1ch);
    transform: translate(0,-50%);
    color: var(--color-intermedio);
}
.boton__superIndice {
    font-size: 0.7rem;
    vertical-align: super;
    position: relative;
    top: -0.2rem;
}

.boton--borrar {
    background-color: var(--color-advertencia);
    outline: solid 2px var(--color-advertencia);
}
.boton--borrar:active {
    background-color: var(--color-advertencia-oprimido);
}

.boton--memoria {
    background-color: var(--color-frente);
    outline: solid 2px var(--color-frente);
}

.boton--operacion {
    background-color: var(--color-operacion);
    outline: solid 2px var(--color-operacion);
}
.boton--operacion:active {
    background-color: var(--color-operacion-oprimido);
}
.boton--doble {
    height: 6.5rem;
    border-top-left-radius: 40% 20%;
    border-top-right-radius: 40% 20%;
    border-bottom-left-radius: 40% 20%;
    border-bottom-right-radius: 40% 20%;
}
